body {
	background-color: #ebebeb;
}

.entry-content h1, .comment-content h1 {
	font-size: 22px;
}

.entry-content h2, .comment-content h2 {
	font-size: 21px;
}

.entry-content h3, .comment-content h3 {
	font-size: 20px;
}

.entry-content h4, .comment-content h4 {
	font-size: 20px;
}

.entry-content h5, .comment-content h5 {
	font-size: 18px;
}

.entry-content h6, .comment-content h6 {
	font-size: 17px;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .comment-content h1, .comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6 {
	margin: 15px 0 30px;
}

.site-header {
	background-image: url('https://2017.bucharest.wordcamp.org/files/2017/07/v1_2.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
	min-height: 320px;

	&:after {
		display: none;
	}

	.site-title {
		display: none;
	}
}

article.post,
article.page {
	border-radius: 0;
	position: relative;
	margin-bottom: 95px;

	.entry-header {
		.entry-title {
			color: #000;
			font-size: 22px;
			font-weight: bold;
			margin-bottom: 22px;
		}

		.entry-meta {
			color: #939393;
			font-family: 'Poppins' , serif !important;;
			font-size: 15px !important;
			font-weight: 300 !important;
			text-transform: uppercase;

			a,
			.author {
				color: #fd3a13 !important;
			}
		}

		.entry-title + .entry-meta {
			font-family: 'Poppins' , serif !important;;
			font-size: 15px !important;
		}
	}

	.entry-content {
		color: #6f6f6f;
		font-size: 17px;

		p {
			font-size: 17px;
			&:first-of-type {
				font-size: 17px;
			}
		}

		a.more-link {
			background-color: #fcfcfc;
			bottom: -60px;
			color: #fd3a13 !important;
			display: block;
			left: 0px;
			line-height: 50px;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 100%;

			&:hover {
				color: #364652 !important;
			}
		}

		.sharedaddy {
			.sd-title {
				font-size: 15px !important;
				font-weight: 300 !important;
				text-transform: uppercase;
			}
		}
	}

	@media screen and (min-width: 960px) {
		padding: 30px !important;
	}
}

.site-footer {
	background-color: #000000;
	color: #ffffff;

	#footer-widgets {
		padding: 0;
		margin: 0;
	}

	.site-info {
		background-color: #000000 !important;
		color: #ffffff;
		padding: 10px;

		.site-info-generator {
			padding: 0 !important;
			text-transform: uppercase;
		}
	}
}

#after-header-widgets.widget-area {
	display: none;
	margin-bottom: 30px;
	margin-top: 30px;
	max-width: 1280px;

	.home & {
		display: block;
	}

	#central1,
	#central2,
	#central3 {
		margin-right: 0;
		width: 100%;

		.c-widget-title {
			font-size: 22px;
		}

		.c-text-widget {
			a {
				font-size: 14px;
				font-weight: 300;
			}
		}
	}

	#central1 {
		background-image: url('https://2017.bucharest.wordcamp.org/files/2017/07/SPONSORS.jpg');;

		&:hover {
			background-image: linear-gradient(rgba(17,17,17,0.5),rgba(17,17,17,0.7)), url('https://2017.bucharest.wordcamp.org/files/2017/06/wc-image1.jpg');
		}
	}

	#central2 {
		background-image: url('https://2017.bucharest.wordcamp.org/files/2017/07/SPEAKERS.jpg');

		&:hover {
			background-image: linear-gradient(rgba(17,17,17,0.5),rgba(17,17,17,0.7)), url('https://2017.bucharest.wordcamp.org/files/2017/06/wc-image2.jpg');
		}
	}

	#central3 {
		background-image: url('https://2017.bucharest.wordcamp.org/files/2017/07/ATTENDEES.jpg');

		&:hover {
			background-image: linear-gradient(rgba(17,17,17,0.5),rgba(17,17,17,0.7)), url('https://2017.bucharest.wordcamp.org/files/2017/06/wc-image3.jpg');;
		}
	}

	@media screen and(min-width: 700px) {
		#central1,
		#central2,
		#central3 {
			margin-right: 0;
			width: 33.333%;
		}

		.widget {
			margin-bottom: 0;
		}
	}
}

#main {
	margin-top: 30px;
	max-width: 1280px;

	.home & {
		margin-top: 0;
	}
}

#secondary {
	font-weight: 300;
}

@media screen and (min-width: 576px) {
	#primary {
		width: 75%
	}

	#secondary {
		width: 25%;
	}
}

.main-navigation  {
	ul {
		& > li {
			a {
				&:before {
					margin: 0;
				}
			}
		}
	}
}

#primary-sidebar {
	.widget {
		background-color: #fff !important;
		color: #000;
		margin: 0 0 30px !important;
		padding: 0 !important;
		font-size: 15px;
		font-weight: 300;

		.widget-title {
			border-bottom: 10px solid #dddddd;
			font-size: 17px;
			color: #364652 !important;
			font-weight: bold;
			padding: 10px 30px;
			line-height: normal;
			background-color: #fff;
			border-radius: 0;
			text-transform: none;

			a {
				color: #364652 !important;
			}
		}

		.textwidget {
			padding: 30px;
		}

		&.jetpack_subscription_widget {
			background: none !important;

			.widget-title {
				margin-bottom: 0px
			}

			input[type='email'] {
				margin-bottom: 5px;
			}
		}

		&.widget_facebook_likebox {
			.fb_iframe_widget {
				padding: 30px;
			}
		}
	}
}
