body {
	background: url('https://2016.bucharest.wordcamp.org/files/2016/06/vampir_fundal.png') no-repeat right 300px #F0FCFF;
}

#main-menu-wrapper {
	background-color: #1A6E94;
	border-bottom: 10px solid #035073;

	#main-menu {
		text-align: center;
	}

	.menu {
		margin: 0 auto;
		li {
			a {
				font-size: 16px;
				font-weight: bold;
			}

			&.logo {
				position: absolute;
				top: -20px;

				&:hover {
					background-color: transparent;
				}

				a {
					background: url('https://2016.bucharest.wordcamp.org/files/2016/06/logo.png') no-repeat center center;
					height: 321px;
					text-indent: -9999999px;
					width: 268px;
				}
			}

			&.after-logo {
				margin-left: 268px;
			}

			&.current-menu-item,
			&:hover {
				background: url('https://2016.bucharest.wordcamp.org/files/2016/06/menu_arrow.png') no-repeat center 37px transparent;
				color: #ACDCF2;

				a {
					color: #ACDCF2;
				}
			}

			@media screen and(max-width: 1080px) {
				&.logo {
					a {
						background-size: 100%;
						height: 160px;
						width: 100px;
					}
				}

				&.after-logo {
					margin-left: 100px;
				}
			}


			@media screen and(max-width: 880px) {
				&.logo {
					display: none;
				}

				&.after-logo {
					margin-left: 0px;
				}
			}

			@media screen and(max-width: 780px) {
				a {
					font-size: 14px;
				}
			}

		}

		.sub-menu {
			z-index: 1000;
			li {
				border: 0px;
				text-align: left;

				a {
					color: #fff;
				}
			}
		}
	}
}

#header-container {
   background-position: 0 0 !important;
   background-repeat: no-repeat !important;
   background-size: 100% auto !important;
	 height: 100px;

	 @media screen and (min-width: 760px) {
		 height: 250px;
	 }

	  @media screen and (min-width: 1080px) {
			height: 350px;
		}

		@media screen and (min-width: 1580px) {
			height: 500px;
		}

	 #header {
		 display: none;
	 }
}

#before-content {

	margin-top: 40px;

	.central-buttons {
		height: auto;
		padding-bottom: 20px;

		#icon {
			display: block;
		}

		.fa {
			bottom: -20px;
			margin: 0px;
			position: relative;
			z-index: 100;

			&:before {
				background-color: transparent;
				font-size: 60px;
			}
		}

		#central {
			background-color: rgba(255, 255, 255, 0.70);
			margin: 0px;
			min-height: 280px;
			position: relative;
		}

		.widget-title {
			color: #1A6E94;
			font-size: 28px;
			padding-top: 40px;
		}

		.textwidget {
			font-size: 20px;
			font-style: italic;
			line-height: 22px;
			padding: 0 20px;
		}

		@media screen and(max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	#central-1 {
		.fa {
			&:before {
				background-color: #002b7f;
			}
		}
	}

	#central-2 {
		.fa {
			&:before {
				background-color: #fcd116;
			}
		}
	}

	#central-3 {
		.fa {
			&:before {
				background-color: #ce1126;
			}
		}
	}

}

#content-row-wrapper {

	margin-top: 0px;

	.widget-area {
		background-color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	#main {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}

.home {

	#content {
		.post {
			margin-top: 0px;
		}
	}

	#container {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}

#before-buttons,
#before-content .xoxo,
.before-content .xoxo li,
.before-content .xoxo li .textwidget,
#before-content .central-buttons {
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

#before-content .central-buttons {
	display: block;
	float: left;
	padding: 0 10px;
}

#before-buttons {
	margin: 0 -10px;
}

body.blog #content-row-wrapper .sidebar-cell.grid_9 {
	float: none;
	padding-right: 10px;
	width: 100%;

	@media screen and(min-width: 768px) {
		float: left;
		width: 66.66%;
	}
}

body.blog #content-row-wrapper .sidebar-cell.grid_3 {
	background-color: transparent;
	float: none;
	padding: 0 0 0 10px;
	width: 100%;

	.xoxo {
		background-color: #fff;
	}

	@media screen and(min-width: 768px) {
		float: left;
		width: 33.33%;
	}
}

body.blog #content-row-wrapper .sidebar-row #container {
	float: none;
	margin-right: 0;
	max-width: 100%;
	width: 100%;
}

.wcorg-mailchimp {
	text-align: center;

	input[type="text"] {
		width: 90%;
	}

	input[type="submit"] {
		display: inline-block !important;
	}
}

.entry-meta {
	.meta-sep,
	.author {
		display: none;
	}
}

#entry-author-info {
	display: none;
}

.single-wcb_speaker {
	.speaker-avatar {
		display: none;
	}
}

.tix_tickets_table {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.page-slug-tickets {
	input[type="submit"] {
		float: left !important;
	}
}
