body {
	background-color: #ebebeb;
}


article.post,
article.page {
	position: relative;
	margin-bottom: 100px;

	.entry-header {
		.entry-title {
			font-size: 22px;
			font-weight: bold;
		}

		.entry-meta {
			a,
			.author {
				color: #fd3a13 !important;

			}
		}
	}

	.entry-content {
		color: #6f6f6f;
		font-size: 17px;

		p {
			font-size: 17px;
			&:first-of-type {
				font-size: 17px;
			}
		}

		a.more-link {
			background-color: #fcfcfc;
			bottom: -60px;
			color: #fd3a13 !important;
			display: block;
			left: 0px;
			line-height: 50px;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 100%;

			&:hover {
				color: #364652 !important;
			}
		}

		.sharedaddy {
			.sd-title {
				font-size: 15px;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
	}

	@media screen and (min-width: 960px) {
		padding: 30px !important;
	}
}


.site-footer {
	background-color: #000000;
	color: #ffffff;

	#footer-widgets {
		padding: 0;
		margin: 0;
	}

	.site-info {
		background-color: #000000 !important;
		color: #ffffff;
		padding: 10px;

		.site-info-generator {
			padding: 0 !important;
			text-transform: uppercase;
		}
	}
}

.site-header {
	margin-bottom: 0;
}

#after-header-widgets.widget-area {
	display: none;
	margin-bottom: 30px;
	margin-top: 30px;
	max-width: 1280px;

	.home & {
		display: block;
	}

	#central1,
	#central2,
	#central3 {
		margin-right: 0;
		width: 33.333%;
	}

	@media screen and(min-width: 700px) {
		.widget {
			margin-bottom: 0;
		}
	}
}

#main {
	margin-top: 30px;
	max-width: 1280px;

	.home & {
		margin-top: 0;
	}
}

#secondary {
	font-weight: 300;
}

@media screen and (min-width: 576px) {
	#primary {
		width: 75%
	}

	#secondary {
		width: 25%;
	}
}
