body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  &.page .comments-area {
    display: none;
  }
}
.admin-bar .main-navigation {
  margin-top: 32px;
}
.site-header hgroup {
  position: relative;
  z-index: 1;
  padding: 70px 0 35px;
}
.site-title {
  background-image: url("https://2017.bucharest.wordcamp.org/files/2017/06/wcrobuc_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 375px;
}

.site-header {
  margin-top: 65px;
  background: url('https://2017.bucharest.wordcamp.org/files/2017/06/header_cp.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  &:after {
    content: "";
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
  }
}

.site-description {
  display: block;
  color: #fff;
  font-size: 23px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.main-navigation {
  z-index: 10;
  text-align: center;
  top: 0;
  bottom: inherit;
  ul {
    text-align: center;
    > li {
      -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
      transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
      float: none;
      font-family: "Poppins", sans-serif;
      margin-right: 35px;
      &:last-child {
        margin-right: 0;
      }
      &.menu-item-has-children {
        &:hover .sub-menu {
          display: block;
        }
        > a {
          padding-right: 0;
          &:after {
            content: "\f347";
            font-family: "Dashicons";
            top: 1px;
            left: 5px;
            position: relative;
            font-size: 12px;
          }
        }
      }
      a {
        color: #000;
        font-size: 14px;
        padding: 24px 0;
        text-transform: uppercase;
        &:before {
          content: none;
        }
      }
      &:hover {
        box-shadow: 0 -3px #fd3a13 inset;
        li {
          -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
          transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        }
      }
    }
    ul {
      display:none;
      position: absolute;
      text-align: left;
      padding: 0;
      top: 100%;
      background-color: #000000;
      box-shadow: none;
      li {
        padding: 0;
        &:hover {
          box-shadow: none;
        }
        a {
          padding: 10px 20px;
          text-transform: none;
          color: #fff;
        }
      }
      li a:hover {
        opacity: .67;
      }
    }
  }
}

.main-small-navigation {
  z-index: 10;
  top:0;
  .menu-toggle {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
  ul {
    padding: 0 0 0 10px;
    border-left: 1px solid #dadada;
  }
  ul > li {
    font-weight: bold;
    text-transform: uppercase;
    a {
      color: #000;
      padding: 10px 0;
      display: block;
    }
  }
  .menu {
    display: none;
  }
}

.site-info .site-info-network {
  z-index: 20;
}

.wcorg-organizer {
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
  width: 27%;
}

@media (max-width: 768px) {
  .site-description {
    font-size: 18px;
    margin: 0;
  }
  .site-title {
    height: 350px !important;
  }
}

@media (max-width: 617px) {
  .site-header hgroup {
    padding: 30px 0;
  }
  .site-description {
    padding: 0 50px;
  }
}

@media screen and (max-width: 720px) {
  .site-header {
    margin-top: 45px;
  }
}

.site-info-network {
  display: none;
}


