@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

footer.entry-meta .cat-links:before, footer.entry-meta .tag-links:before, footer.entry-meta .comments-link:before, footer.entry-meta .edit-link:before, .post-navigation .nav-previous:before {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin-right: .14815rem;
  overflow: hidden;
  height: 16px;
  vertical-align: text-top;
  width: 16px; }

.post-navigation .nav-next:after {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin-left: .14815rem;
  overflow: hidden;
  height: 16px;
  vertical-align: text-top;
  width: 16px; }

footer.entry-meta .cat-links:before {
  background-position: 0 0; }

footer.entry-meta .tag-links:before {
  background-position: 0 -16px; }

footer.entry-meta .comments-link:before {
  background-position: 0 -32px; }

footer.entry-meta .edit-link:before {
  background-position: 0 -48px; }

.post-navigation .nav-previous:before {
  background-position: 0 -64px; }

.post-navigation .nav-next:after {
  background-position: 0 -80px; }

html {
  font-size: .75rem; }

@media print, screen and (min-width: 4768px) {
  html {
    font-size: 1rem; } }
@media screen and (min-width: 1024px) {
  html {
    font-size: 1.125rem; } }
body {
  background: #ece3db;
  color: #604b43;
  font-family: "Roboto", sans-serif;
  font-size: 1rem; }

img {
  height: auto;
  max-width: 100%; }

a {
  color: #45a87c;
  text-decoration: none; }

a:hover {
  color: #e97067; }

input[type='text'], input[type='email'], textarea {
  font-family: inherit;
  font-size: inherit; }

input[type='submit'] {
  background: #45a87c !important;
  border: 0 none;
  border-radius: 4px;
  color: #e6f2f0;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  padding: .44444rem 1rem;
  text-transform: uppercase;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

input[type='submit']:hover {
  background: #e97067;
  color: #fff; }

.assistive-text {
  clip: rect(1px 1px 1px 1px);
  position: absolute !important; }

.site-header {
  background: #45a87c;
  background-size: cover;
  border-top: none !important;
  box-shadow: inset 0 10px 60px rgba(126, 99, 88, 0.5);
  margin-bottom: 0;
  position: relative;
  text-align: center; }

@media screen and (min-width: 768px) {
  .site-header {
    margin-bottom: 7.75rem; } }
.site-header hgroup {
  padding: 5% 0; }

.site-header img {
  max-width: 80%; }

.menu-primary-nav-container {
  width: 800px;
  margin: auto;
  display: block; }

.main-small-navigation {
  background: rgba(255, 255, 255, 0.95);
  width: 100%; }

.main-small-navigation .menu-primary-container > ul {
  border-bottom: 5px solid #45a87c !important;
  display: none; }

.main-small-navigation .menu-toggle {
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  padding: 1rem;
  width: auto;
  height: 20px; }

.main-small-navigation ul {
  text-align: left;
  padding: 0 1rem 1rem; }

#after-header-widgets {
  margin: 1.6875rem auto;
  max-width: 62rem; }

#after-header-widgets:after {
  clear: both;
  content: '';
  display: table; }

#after-header-widgets .widget {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0 auto 1rem;
  padding: 0 1rem;
  width: 50%; }

@media screen and (min-width: 576px) {
  #after-header-widgets .widget {
    width: 25%; } }
#after-header-widgets .textwidget h4 {
  font-size: 1.5rem;
  margin: 0 0 .75rem; }

#after-header-widgets .textwidget img {
  border-radius: 2px;
  -moz-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  -webkit-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

#after-header-widgets .textwidget img:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

#after-header-widgets .textwidget p:last-child {
  margin-bottom: 0; }

#after-header-widgets .widget:nth-child(1) img {
  border-top: 5px solid #45a87c !important; }

#after-header-widgets .widget:nth-child(2) img {
  border-top: 5px solid #f5b635 !important; }

#after-header-widgets .widget:nth-child(3) img {
  border-top: 5px solid #d44e20 !important; }

#after-header-widgets .widget:nth-child(4) img {
  border-top: 5px solid #64479e !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Crete Round", serif; }

#main {
  margin: 3.375rem auto 2.25rem;
  max-width: 62rem;
  padding-bottom: 7.59375rem; }

#main:after {
  clear: both;
  content: '';
  display: table; }

#primary {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1rem; }

@media screen and (min-width: 576px) {
  #primary {
    float: left;
    width: 70%; } }
#secondary {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1rem; }

@media screen and (min-width: 576px) {
  #secondary {
    float: right;
    width: 30%; } }
article.post, article.page {
  background-color: #fff;
  background-position: 0 0, 50% 100%;
  background-repeat: no-repeat, no-repeat;
  border-radius: 2px;
  -moz-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  -webkit-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  margin-bottom: 2.53125rem;
  padding: 2.53125rem;
  padding-top: 9.84375rem;
  padding-bottom: 123px; }

.entry-header {
  margin-bottom: 1.5rem; }

.entry-title {
  font-size: 2.53125rem;
  line-height: 1.125;
  margin-bottom: .66667rem;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

.entry-title a {
  color: inherit;
  text-decoration: none; }

.entry-title a:hover {
  color: #45a87c !important; }

.entry-title + .entry-meta {
  color: #cfc0ba;
  font-family: "Crete Round", serif;
  font-size: 1.5rem; }

.entry-title + .entry-meta a {
  color: #fdc17b;
  text-decoration: none;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

.entry-title + .entry-meta a:hover {
  color: #df3124; }

.entry-content blockquote {
  font-size: 1.6875rem;
  margin: 2.25rem 1rem; }

.comment-content blockquote {
  font-size: 1.5rem;
  margin: 1.5rem .75rem; }

.entry-content p, .comment-content p, .entry-content address {
  line-height: 1.5;
  margin: 0 0 1rem; }

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .comment-content h1, .comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6 {
  line-height: 1.125;
  margin: 2.25rem 0 .75rem; }

.entry-content h1, .comment-content h1 {
  font-size: 2.53125rem; }

.entry-content h2, .comment-content h2 {
  font-size: 2.25rem; }

.entry-content h3, .comment-content h3 {
  font-size: 1.6875rem; }

.entry-content h4, .comment-content h4 {
  font-size: 1.5rem; }

.entry-content h5, .comment-content h5 {
  font-size: 1.125rem; }

.entry-content h6, .comment-content h6 {
  font-size: 1rem; }

.entry-content a, .comment-content a {
  color: #e97067;
  text-decoration: none;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

.entry-content a:hover, .comment-content a:hover {
  color: #62aa9f; }

.entry-content strong, .comment-content strong {
  font-weight: 700; }

.entry-content em, .comment-content em {
  font-style: italic; }

.entry-content blockquote, .comment-content blockquote {
  border-bottom: 1px solid #1aaacd;
  border-top: 1px solid #1aaacd;
  font-family: "Crete Round", serif;
  padding: 1rem; }

.entry-content blockquote p:last-child, .comment-content blockquote p:last-child {
  margin-bottom: 0; }

.entry-content ul, .comment-content ul {
  list-style-type: square;
  margin: 0 0 1rem 2.53125rem; }

.entry-content ol, .comment-content ol {
  list-style-type: decimal;
  margin: 0 0 1rem 2.53125rem; }

.entry-content li, .comment-content li {
  line-height: 1.5;
  margin-bottom: .33333rem; }

.entry-content label, .comment-content label {
  display: block;
  font-weight: normal !important;
  font-size: 1rem !important;
  line-height: 1.125;
  margin: .75rem 0 .33333rem; }

.entry-content label span, .comment-content label span {
  color: #e97067;
  font-size: .75rem;
  padding-left: .33333rem; }

.entry-content input[type='text'], .entry-content input[type='email'], .entry-content textarea, .comment-content input[type='text'], .comment-content input[type='email'], .comment-content textarea {
  background: #f6f2ef;
  border: 1px solid #e3d6ca;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%; }

.entry-content input[type='text']:focus, .entry-content input[type='email']:focus, .entry-content textarea:focus, .comment-content input[type='text']:focus, .comment-content input[type='email']:focus, .comment-content textarea:focus {
  background: #fff0df;
  border-color: #fdc17b;
  outline: none; }

.entry-content .contact-submit, .comment-content .contact-submit {
  margin: 1rem 0;
  text-align: center; }

footer.entry-meta {
  border-bottom: 1px solid #fdcd94;
  border-top: 1px solid #fdcd94;
  color: #cfc0ba;
  line-height: 1.5;
  margin: 2.25rem 0 0;
  padding: .5rem 0; }

footer.entry-meta .sep {
  margin: 0 .33333rem; }

.post-navigation {
  line-height: 1.5;
  margin-bottom: 1.6875rem;
  padding: 0 2.53125rem; }

.post-navigation:after {
  clear: both;
  content: '';
  display: table; }

.post-navigation .nav-previous a, .post-navigation .nav-next a {
  color: #7e6358; }

.post-navigation .nav-previous a:hover, .post-navigation .nav-next a:hover {
  color: #e97067; }

.post-navigation .nav-previous .meta-nav, .post-navigation .nav-next .meta-nav {
  display: none; }

.post-navigation .nav-previous {
  float: left; }

.post-navigation .nav-next {
  float: right; }

.comments-area {
  background: #fff;
  border-top: 10px solid #fdc17b;
  border-radius: 2px;
  -moz-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  -webkit-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  margin-bottom: 1.6875rem;
  padding: 2.53125rem; }

.comments-area .comments-title {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 2.25rem; }

.comments-area .comment-author {
  line-height: 1.5; }

.comments-area .comment-author .avatar {
  border: 3px solid #e97067;
  border-radius: 100%;
  float: right; }

.comments-area .comment-meta {
  font-size: .75rem;
  line-height: 1.5;
  margin: 0 0 1.125rem; }

.commentlist li {
  border-bottom: 1px solid #fdcd94;
  margin: 0 0 1.6875rem;
  padding: 0 0 1.6875rem; }

.commentlist li li {
  border-bottom: 0 none;
  border-top: 1px solid #fdcd94;
  margin: 1.6875rem 0 0 1.5rem;
  padding: 1.6875rem 0 0; }

.comment-reply-link {
  background: #45a87c !important;
  border: 0 none;
  border-radius: 4px;
  color: #e6f2f0;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
  font-weight: 700;
  padding: .44444rem .75rem;
  text-transform: uppercase;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

.comment-reply-link:hover {
  background: #e97067;
  color: #fff; }

.comment-reply-title {
  font-size: 1.6875rem;
  margin: 0 0 1rem; }

#primary-sidebar .widget {
  background: none !important;
  margin: 0 0 1.5rem !important;
  padding-bottom: 1rem !important; }

#primary-sidebar input[type='text'], #primary-sidebar input[type='email'] {
  background: rgba(255, 255, 255, 0.8);
  border: 0 none;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%;
  margin: 0 0 1rem; }

#primary-sidebar input[type='text']:focus, #primary-sidebar input[type='email']:focus {
  background: #fff;
  outline: none; }

#primary-sidebar input[type='submit'] {
  display: block !important;
  margin: 0 auto; }

#primary-sidebar #subscribe-submit {
  text-align: center; }

.widget p {
  line-height: 1.5;
  margin: 0 0 1rem; }

.widget .widget-title {
  border-bottom: 1px solid #d1bca9;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 0 .66667rem;
  padding: 0 0 .66667rem;
  text-transform: uppercase; }

.widget li {
  border-bottom: 1px solid #d1bca9;
  line-height: 1.5;
  margin: 0 0 .5rem;
  padding-bottom: .5rem; }

.widget li a {
  color: #45a87c !important;
  text-decoration: none;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

.widget li a:hover {
  color: #e97067; }

.site-footer {
  background: #fff; }

#footer-widgets {
  margin: 0 auto;
  max-width: 62rem;
  padding: 1.125rem; }

#footer-widgets:after {
  clear: both;
  content: '';
  display: table; }

#footer-widget-1, #footer-widget-2, #footer-widget-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem; }

@media screen and (min-width: 576px) {
  #footer-widget-1, #footer-widget-2, #footer-widget-3 {
    float: left;
    width: 33.33333%; } }
@media print, screen and (min-width: 4768px) {
  #footer-widget-1, #footer-widget-2, #footer-widget-3 {
    width: 20%; } }
#footer-widget-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem; }

@media screen and (min-width: 576px) {
  #footer-widget-4 {
    clear: both;
    margin-top: 1rem; } }
@media print, screen and (min-width: 4768px) {
  #footer-widget-4 {
    clear: none;
    float: right;
    margin-top: 0;
    width: 40%; } }
.site-info {
  background: #0e5a6a;
  padding: 3.79688rem 1rem;
  text-align: center; }

.site-info .site-info-generator {
  color: #fff;
  display: block;
  padding-top: 10rem !important;
  background-size: 100px auto !important; }

.site-info .site-info-generator:hover {
  color: #f5b635 !important; }

.site-info .site-info-network {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0e5a6a;
  cursor: pointer;
  font-size: .75rem;
  height: 78px;
  left: 1.125rem;
  padding: 7px 10px 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 95px; }

.site-info .site-info-network:hover {
  color: #e97067; }

body div.sharedaddy h3.sd-title {
  font-size: 1.125rem;
  margin: 1rem 0 .75rem; }

body div.sharedaddy h3.sd-title:before {
  border-top: 0 none;
  margin-bottom: 0; }

.wcorg-organizer {
  border-bottom: 1px solid #e3d6ca; }

.wcorg-organizer:first-child {
  border-top: 1px solid #e3d6ca; }

.wcorg-organizer .wcorg-organizer-description:after {
  clear: both;
  content: '';
  display: table; }

.wcorg-organizer .avatar {
  float: left;
  margin: 0 1rem 1rem 0; }

.wcorg-organizer div.sharedaddy {
  display: none; }

.speaker {
  border-bottom: 1px solid #e3d6ca; }

.speaker:first-child {
  border-top: 1px solid #e3d6ca; }

.speaker .speaker-bio > p:first-of-type {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem; }

.speaker .speaker-bio:after {
  clear: both;
  content: '';
  display: table; }

.speaker .avatar {
  float: left;
  margin: 0 1rem 1rem 0; }

.speaker div.sharedaddy {
  display: none; }

.wcpt-schedule {
  margin: 1.125rem 0;
  background: #fffcf9; }

.wcpt-schedule th, .wcpt-schedule td {
  padding: .75rem; }

.wcpt-schedule th {
  background: #0e5a6a;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Open Sans", sans-serif !important; }

.wcpt-schedule .wcpt-time {
  background: #fff0df;
  border: 1px solid #fff;
  font-family: "Open Sans", sans-serif !important; }

.wcpt-schedule .wcpt-session-type-session {
  background: #fffcf9;
  border: 1px solid #fff; }

.wcpt-schedule .global-session .wcpt-time {
  background: #45a87c !important;
  color: #fff; }

.wcpt-schedule .global-session .wcpt-session-type-custom {
  background: #d6e9e6;
  border: 1px solid #fff; }

.wcpt-schedule .wcpt-session-title {
  display: block;
  line-height: 1.125;
  margin-bottom: 1rem; }

.wcpt-schedule .wcpt-session-speakers {
  font-size: .75rem;
  line-height: 1.125; }

.wcpt-schedule .wcpt-session-speakers a {
  color: #45a87c !important; }

.wcpt-schedule a {
  color: #1aaacd; }

.wcpt-schedule a:hover {
  color: #e97067; }

table.wcpt-schedule tbody tr:nth-child(odd) {
  background: #fffcf9 !important; }

.sponsor-level-title {
  color: #0e5a6a;
  padding: .5rem; }

.sponsor {
  border-bottom: 1px solid #e3d6ca; }

.sponsor .sharedaddy {
  display: none; }

.sponsor .sponsor-title img {
  max-width: 60%; }

.sponsor .sponsor-description > p:first-of-type {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem; }

.site-title {
  width: 271px;
  height: 125px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto; }

@media print, screen and (min-width: 768px) {
  .site-title {
    width: 452px;
    height: 208px; } }
@media screen and (min-width: 1024px) {
  .site-title {
    width: 543px;
    height: 250px; } }
.site-description {
  display: none; }

.menu-primary-nav-container {
  max-width: 960px !important;
  margin: auto;
  display: block;
  width: 100%; }

.wcb_widget_sponsors .sponsor-level {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  border-top: 5px solid #fdc17b;
  -moz-box-shadow: 0 0 12px rgba(126, 99, 88, 0.05);
  -webkit-box-shadow: 0 0 12px rgba(126, 99, 88, 0.05);
  box-shadow: 0 0 12px rgba(126, 99, 88, 0.05);
  padding: 1rem;
  margin-bottom: 1rem; }

.wcb_widget_sponsors .sponsor-level-title {
  border-bottom: 0 none;
  border-top: 0 none;
  color: #0e5a6a;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center; }

.wcb_widget_sponsors .sponsor-logo {
  margin: 1rem 0 0; }

.wcb_widget_sponsors .sponsor-logo img {
  display: block; }

.tix_tickets_table + p, .tix-ticket-form + p {
  margin-top: 1rem; }

.tix_tickets_table th, .tix-ticket-form th {
  border-bottom: 5px solid #2e99c9 !important;
  font-family: 'Open Sans', serif !important;
  font-size: .825rem !important; }

.tix_tickets_table td, .tix-ticket-form td {
  border-bottom: 1px solid #d1bca9;
  line-height: 1.25;
  padding: 1rem .5rem; }

strong.tix-ticket-title {
  color: #0e5a6a;
  display: block;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  margin: 0; }

span.tix-ticket-excerpt {
  display: block;
  font-size: .75rem;
  line-height: 1.5; }

td.tix-column-price, td.tix-column-quantity {
  background: #fff8f0;
  text-align: right; }

td.tix-column-remaining {
  text-align: center; }

.tix_tickets_table .tix-row-total td, .tix-ticket-form .tix-row-total td {
  border-bottom: 0 none;
  text-align: right; }

.entry-content .tix_tickets_table label {
  display: inline;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0; }

.tix-error, .tix-notice, .tix-info {
  margin-bottom: 1rem; }

.site-title {
  height: 400px !important; }

.site-header {
  background-size: cover;
  border-top: none; }

article.post, article.page {
  background-color: #fff;
  background-image: none !important; }

#main {
  background: none !important; }

.site-info .site-info-generator {
  background: none; }

body {
  font-family: "Open Sans", sans-serif !important;
  line-height: 1.4 !important;
  color: #768289 !important; }

.nav-register-now {
  position: fixed !important;
  bottom: 20px;
  right: 40px;
  padding: 0 !important;
  z-index: 1; }

.nav-register-now a {
  font-size: 1rem;
  padding: 12px 20px 12px 36px !important;
  width: 188px;
  border-radius: 2px;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #007acc !important;
  border: 2px solid #007acc;
  color: #fff !important;
  transition: all .25s ease; }

.nav-register-now a:hover {
  background-color: #005c99 !important;
  border: 2px solid #005c99; }

.nav-register-now a:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  background-size: 100%;
  left: 18px;
  top: 13px; }

.tix-column-description {
  width: 60%; }

.tix_tickets_table thead tr th:first-child {
  width: 60%; }

.comment .avatar, .tix_tickets_table td {
  vertical-align: middle; }

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75em;
  table-layout: fixed;
  width: 100%; }

th {
  font-size: 14px; }

table tbody td, table thead th {
  padding: 15px; }

hr, table tbody tr:nth-child(odd) {
  background: #eef2f2; }

.tix-last {
  font-weight: bold; }

#tix-attendees .tix-field {
  box-shadow: none; }

h1, h2, h3, h4, h5, h6, .entry-title, .entry-title + .entry-meta, .entry-content > p:first-of-type, strong.tix-ticket-title {
  font-family: 'Open Sans', serif !important;
  font-weight: 600 !important; }

.entry-title + .entry-meta {
  font-size: 1rem !important;
  color: inherit !important;
  font-weight: normal !important; }

.entry-title + .entry-meta a {
  color: #f08f51 !important; }

.entry-title {
  color: #364652; }

.entry-title a:hover {
  color: #2e99c9 !important; }

.entry-content a, .comment-content a {
  color: #2e99c9 !important;
  font-weight: 600 !important; }

.entry-content a:hover, .comment-content a:hover {
  color: #364652 !important; }

.menu-main-menu-container {
  text-align: center; }

.main-navigation ul {
  display: inline-block;
  margin: 0 auto; }

.entry-content, .entry-summary {
  line-height: 1.4; }

article.post, article.page {
  padding: 30px !important; }

@media screen and (min-width: 768px) {
  article.post, article.page {
    padding: 50px !important; } }
@media screen and (min-width: 960px) {
  article.post, article.page {
    padding: 70px !important; } }
footer.entry-meta .cat-links:before, footer.entry-meta .comments-link:before {
  display: none !important; }

footer.entry-meta {
  border-bottom: 1px solid #b7b7b7 !important;
  border-top: 1px solid #b7b7b7 !important;
  color: inherit !important;
  line-height: 1.5 !important;
  margin: 3rem 0 0 !important;
  padding: 1.5rem 0 !important; }

.site-info {
  background: #364652 !important; }

.wcorg-speaker-description img {
  float: left;
  margin: 0 20px 20px 0; }

.site .avatar {
  border-radius: 50%; }

@media screen and (min-width: 44.375em) {
  .wcorg-speaker-description p {
    margin-left: 120px !important; } }
#tix-attendees .tix-columns-2 li {
  width: 100%; }

@media screen and (min-width: 768px) {
  #tix-attendees .tix-columns-2 li {
    width: 50%; } }
.sponsor-level .sponsor-logo:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

.sponsor-level .sponsor-logo img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

body.single-wcb_sponsor .entry-title {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
/* Custom CSS from 2016.belgrade.wordcamp.org */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

footer.entry-meta .cat-links:before, footer.entry-meta .tag-links:before, footer.entry-meta .comments-link:before, footer.entry-meta .edit-link:before, .post-navigation .nav-previous:before {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  margin-right: .14815rem;
  overflow: hidden;
  height: 16px;
  vertical-align: text-top;
  width: 16px; }

.post-navigation .nav-next:after {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  margin-left: .14815rem;
  overflow: hidden;
  height: 16px;
  vertical-align: text-top;
  width: 16px; }

footer.entry-meta .cat-links:before {
  background-position: 0 0; }

footer.entry-meta .tag-links:before {
  background-position: 0 -16px; }

footer.entry-meta .comments-link:before {
  background-position: 0 -32px; }

footer.entry-meta .edit-link:before {
  background-position: 0 -48px; }

.post-navigation .nav-previous:before {
  background-position: 0 -64px; }

.post-navigation .nav-next:after {
  background-position: 0 -80px; }

/* Styles */
html {
  font-size: .75rem; }

@media print, screen and (min-width: 4768px) {
  html {
    font-size: 1rem; } }
@media screen and (min-width: 1024px) {
  html {
    font-size: 1.125rem; } }
body {
  background: #ece3db;
  color: #604b43;
  font-family: "Roboto", sans-serif;
  font-size: 1rem; }

img {
  height: auto;
  max-width: 100%; }

a {
  color: #83bcb3;
  text-decoration: none; }

a:hover {
  color: #e97067; }

input[type='text'],
input[type='email'],
textarea {
  font-family: inherit;
  font-size: inherit; }

input[type='submit'] {
  background: #83bcb3;
  border: 0 none;
  border-radius: 4px;
  color: #e6f2f0;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: bold;
  padding: .44444rem 1rem;
  text-transform: uppercase;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

input[type='submit']:hover {
  background: #e97067;
  color: white; }

.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.site-header {
  background: #83bcb3;
  background-size: cover;
  border-top: 5px solid #83bcb3;
  -moz-box-shadow: inset 0 10px 60px rgba(126, 99, 88, 0.5);
  -webkit-box-shadow: inset 0 10px 60px rgba(126, 99, 88, 0.5);
  box-shadow: inset 0 10px 60px rgba(126, 99, 88, 0.5);
  margin-bottom: 7.75rem;
  position: relative;
  text-align: center; }

.site-header hgroup {
  padding: 5% 0; }

.site-header img {
  max-width: 80%; }

.menu-primary-nav-container {
  width: 800px;
  margin: auto;
  display: block; }

.main-navigation {
  background: white;
  bottom: -4.375rem;
  font-family: "Roboto", sans-serif;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%; }

.main-navigation ul {
  margin: 0 auto;
  max-width: 62rem;
  padding: 0 1rem; }

.main-navigation ul > li {
  display: inline-block; }

.main-navigation ul > li a {
  color: #62aa9f;
  display: block;
  padding: 1.6875rem .66667rem 1.6875rem 0;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

.main-navigation ul > li a:before {
  color: #e3d6ca;
  content: '|';
  margin-right: .75rem; }

.main-navigation ul > li:first-child a:before {
  content: ''; }

.main-navigation ul > li.menu-item-has-children {
  position: relative; }

.main-navigation ul > li.menu-item-has-children > a {
  padding-right: 1rem; }

.main-navigation ul ul li {
  display: block; }

.main-navigation ul ul a {
  padding: .75rem 0;
  white-space: nowrap; }

.main-navigation ul ul a:before {
  content: '';
  margin-right: 0; }

.main-small-navigation {
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  width: 100%; }

.main-small-navigation .menu-primary-container > ul {
  border-bottom: 5px solid #83bcb3;
  display: none; }

.main-small-navigation .menu-toggle {
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  padding: 1rem;
  width: auto; }

.main-small-navigation ul {
  text-align: left;
  padding: 0 1rem 1rem; }

#after-header-widgets {
  margin: 1.6875rem auto;
  max-width: 62rem; }

#after-header-widgets:after {
  clear: both;
  content: '';
  display: table; }

#after-header-widgets .widget {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0 auto 1rem;
  padding: 0 1rem;
  width: 50%; }

@media screen and (min-width: 576px) {
  #after-header-widgets .widget {
    width: 25%; } }
#after-header-widgets .textwidget h4 {
  font-size: 1.5rem;
  margin: 0 0 .75rem; }

#after-header-widgets .textwidget img {
  border-radius: 2px;
  -moz-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  -webkit-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

#after-header-widgets .textwidget img:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

#after-header-widgets .textwidget p:last-child {
  margin-bottom: 0; }

#after-header-widgets .widget:nth-child(1) img {
  border-top: 5px solid #83bcb3; }

#after-header-widgets .widget:nth-child(2) img {
  border-top: 5px solid #fdc17b; }

#after-header-widgets .widget:nth-child(3) img {
  border-top: 5px solid #e97067; }

#after-header-widgets .widget:nth-child(4) img {
  border-top: 5px solid #7e6358; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Crete Round", serif; }

#main {
  margin: 3.375rem auto 2.25rem;
  max-width: 62rem;
  padding-bottom: 7.59375rem; }

#main:after {
  clear: both;
  content: '';
  display: table; }

#primary {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1rem; }

@media screen and (min-width: 576px) {
  #primary {
    float: left;
    width: 70%; } }
#secondary {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1rem; }

@media screen and (min-width: 576px) {
  #secondary {
    float: right;
    width: 30%; } }
article.post,
article.page {
  background-color: white;
  background-position: 0 0, 50% 100%;
  background-repeat: no-repeat, no-repeat;
  border-radius: 2px;
  -moz-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  -webkit-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  margin-bottom: 2.53125rem;
  padding: 2.53125rem;
  padding-top: 9.84375rem;
  padding-bottom: 123px; }

.entry-header {
  margin-bottom: 1.5rem; }

.entry-title {
  font-size: 2.53125rem;
  line-height: 1.125;
  margin-bottom: .66667rem;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

.entry-title a {
  color: inherit;
  text-decoration: none; }

.entry-title a:hover {
  color: #83bcb3; }

.entry-title + .entry-meta {
  color: #cfc0ba;
  font-family: "Crete Round", serif;
  font-size: 1.5rem; }

.entry-title + .entry-meta a {
  color: #fdc17b;
  text-decoration: none;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

.entry-title + .entry-meta a:hover {
  color: #df3124; }

.entry-content > p:first-of-type {
  font-family: "Crete Round", serif;
  font-size: 1.125rem;
  margin-bottom: 1.125rem; }

.entry-content blockquote {
  font-size: 1.6875rem;
  margin: 2.25rem 1rem; }

.comment-content blockquote {
  font-size: 1.5rem;
  margin: 1.5rem .75rem; }

.entry-content p,
.comment-content p,
.entry-content address {
  line-height: 1.5;
  margin: 0 0 1rem; }

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
  line-height: 1.125;
  margin: 2.25rem 0 .75rem; }

.entry-content h1,
.comment-content h1 {
  font-size: 2.53125rem; }

.entry-content h2,
.comment-content h2 {
  font-size: 2.25rem; }

.entry-content h3,
.comment-content h3 {
  font-size: 1.6875rem; }

.entry-content h4,
.comment-content h4 {
  font-size: 1.5rem; }

.entry-content h5,
.comment-content h5 {
  font-size: 1.125rem; }

.entry-content h6,
.comment-content h6 {
  font-size: 1rem; }

.entry-content a,
.comment-content a {
  color: #e97067;
  text-decoration: none;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

.entry-content a:hover,
.comment-content a:hover {
  color: #62aa9f; }

.entry-content strong,
.comment-content strong {
  font-weight: bold; }

.entry-content em,
.comment-content em {
  font-style: italic; }

.entry-content blockquote,
.comment-content blockquote {
  border-bottom: 1px solid #1aaacd;
  border-top: 1px solid #1aaacd;
  font-family: "Crete Round", serif;
  padding: 1rem; }

.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
  margin-bottom: 0; }

.entry-content ul,
.comment-content ul {
  list-style-type: square;
  margin: 0 0 1rem 2.53125rem; }

.entry-content ol,
.comment-content ol {
  list-style-type: decimal;
  margin: 0 0 1rem 2.53125rem; }

.entry-content li,
.comment-content li {
  line-height: 1.5;
  margin-bottom: .33333rem; }

.entry-content label,
.comment-content label {
  display: block;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.125;
  margin: .75rem 0 .33333rem; }

.entry-content label span,
.comment-content label span {
  color: #e97067;
  font-size: .75rem;
  padding-left: .33333rem; }

.entry-content input[type='text'],
.entry-content input[type='email'],
.entry-content textarea,
.comment-content input[type='text'],
.comment-content input[type='email'],
.comment-content textarea {
  background: #f6f2ef;
  border: 1px solid #e3d6ca;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%; }

.entry-content input[type='text']:focus,
.entry-content input[type='email']:focus,
.entry-content textarea:focus,
.comment-content input[type='text']:focus,
.comment-content input[type='email']:focus,
.comment-content textarea:focus {
  background: #fff0df;
  border-color: #fdc17b;
  outline: none; }

.entry-content .contact-submit,
.comment-content .contact-submit {
  margin: 1rem 0;
  text-align: center; }

footer.entry-meta {
  border-bottom: 1px solid #fdcd94;
  border-top: 1px solid #fdcd94;
  color: #cfc0ba;
  line-height: 1.5;
  margin: 2.25rem 0 0;
  padding: .5rem 0; }

footer.entry-meta .sep {
  margin: 0 .33333rem; }

.post-navigation {
  line-height: 1.5;
  margin-bottom: 1.6875rem;
  padding: 0 2.53125rem; }

.post-navigation:after {
  clear: both;
  content: '';
  display: table; }

.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  color: #7e6358; }

.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
  color: #e97067; }

.post-navigation .nav-previous .meta-nav,
.post-navigation .nav-next .meta-nav {
  display: none; }

.post-navigation .nav-previous {
  float: left; }

.post-navigation .nav-next {
  float: right; }

.comments-area {
  background: white;
  border-top: 10px solid #fdc17b;
  border-radius: 2px;
  -moz-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  -webkit-box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  box-shadow: 0 0 12px rgba(126, 99, 88, 0.1);
  margin-bottom: 1.6875rem;
  padding: 2.53125rem; }

.comments-area .comments-title {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 2.25rem; }

.comments-area .comment-author {
  line-height: 1.5; }

.comments-area .comment-author .avatar {
  border: 3px solid #e97067;
  border-radius: 100%;
  float: right; }

.comments-area .comment-meta {
  font-size: .75rem;
  line-height: 1.5;
  margin: 0 0 1.125rem; }

.commentlist li {
  border-bottom: 1px solid #fdcd94;
  margin: 0 0 1.6875rem;
  padding: 0 0 1.6875rem; }

.commentlist li li {
  border-bottom: 0 none;
  border-top: 1px solid #fdcd94;
  margin: 1.6875rem 0 0 1.5rem;
  padding: 1.6875rem 0 0; }

.comment-reply-link {
  background: #83bcb3;
  border: 0 none;
  border-radius: 4px;
  color: #e6f2f0;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
  font-weight: bold;
  padding: .44444rem .75rem;
  text-transform: uppercase;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

.comment-reply-link:hover {
  background: #e97067;
  color: white; }

.comment-reply-title {
  font-size: 1.6875rem;
  margin: 0 0 1rem; }

#primary-sidebar .widget {
  margin: 0 0 2.53125rem;
  padding-bottom: 3.79688rem; }

#primary-sidebar input[type='text'],
#primary-sidebar input[type='email'] {
  background: rgba(255, 255, 255, 0.8);
  border: 0 none;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%; }

#primary-sidebar input[type='text']:focus,
#primary-sidebar input[type='email']:focus {
  background: white;
  outline: none; }

#primary-sidebar input[type='submit'] {
  display: inline-block; }

#primary-sidebar #subscribe-submit {
  text-align: center; }

.widget p {
  line-height: 1.5;
  margin: 0 0 1rem; }

.widget .widget-title {
  border-bottom: 1px solid #d1bca9;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 0 .66667rem;
  padding: 0 0 .66667rem;
  text-transform: uppercase; }

.widget li {
  border-bottom: 1px solid #d1bca9;
  line-height: 1.5;
  margin: 0 0 .5rem;
  padding-bottom: .5rem; }

.widget li a {
  color: #83bcb3;
  text-decoration: none;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }

.widget li a:hover {
  color: #e97067; }

.site-footer {
  background: white; }

#footer-widgets {
  margin: 0 auto;
  max-width: 62rem;
  padding: 1.125rem; }

#footer-widgets:after {
  clear: both;
  content: '';
  display: table; }

#footer-widget-1,
#footer-widget-2,
#footer-widget-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem; }

@media screen and (min-width: 576px) {
  #footer-widget-1,
  #footer-widget-2,
  #footer-widget-3 {
    float: left;
    width: 33.33333%; } }
@media print, screen and (min-width: 4768px) {
  #footer-widget-1,
  #footer-widget-2,
  #footer-widget-3 {
    width: 20%; } }
#footer-widget-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem; }

@media screen and (min-width: 576px) {
  #footer-widget-4 {
    clear: both;
    margin-top: 1rem; } }
@media print, screen and (min-width: 4768px) {
  #footer-widget-4 {
    clear: none;
    float: right;
    margin-top: 0;
    width: 40%; } }
.site-info {
  background: #0e5a6a;
  padding: 3.79688rem 1rem;
  text-align: center; }

.site-info .site-info-generator {
  color: white;
  display: block;
  padding-top: 5.0625rem; }

.site-info .site-info-generator:hover {
  color: #fdc17b; }

.site-info .site-info-network {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0e5a6a;
  cursor: pointer;
  font-size: .75rem;
  height: 78px;
  left: 1.125rem;
  padding: 7px 10px 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 95px; }

.site-info .site-info-network:hover {
  color: #e97067; }

body div.sharedaddy h3.sd-title {
  font-size: 1.125rem;
  margin: 1rem 0 .75rem; }

body div.sharedaddy h3.sd-title:before {
  border-top: 0 none;
  margin-bottom: 0; }

.wcorg-organizer {
  border-bottom: 1px solid #e3d6ca; }

.wcorg-organizer:first-child {
  border-top: 1px solid #e3d6ca; }

.wcorg-organizer .wcorg-organizer-description:after {
  clear: both;
  content: '';
  display: table; }

.wcorg-organizer .avatar {
  float: left;
  margin: 0 1rem 1rem 0; }

.wcorg-organizer div.sharedaddy {
  display: none; }

.speaker {
  border-bottom: 1px solid #e3d6ca; }

.speaker:first-child {
  border-top: 1px solid #e3d6ca; }

.speaker .speaker-bio > p:first-of-type {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem; }

.speaker .speaker-bio:after {
  clear: both;
  content: '';
  display: table; }

.speaker .avatar {
  float: left;
  margin: 0 1rem 1rem 0; }

.speaker div.sharedaddy {
  display: none; }

.wcpt-schedule {
  margin: 1.125rem 0; }

.wcpt-schedule th, .wcpt-schedule td {
  padding: .75rem; }

.wcpt-schedule th {
  background: #0e5a6a;
  border: 1px solid white;
  color: white;
  font-family: "Crete Round", serif; }

.wcpt-schedule .wcpt-time {
  background: #fff0df;
  border: 1px solid white;
  font-family: "Crete Round", serif; }

.wcpt-schedule .wcpt-session-type-session {
  background: #fffcf9;
  border: 1px solid white; }

.wcpt-schedule .global-session .wcpt-time {
  background: #83bcb3;
  color: white; }

.wcpt-schedule .global-session .wcpt-session-type-custom {
  background: #d6e9e6;
  border: 1px solid white; }

.wcpt-schedule .wcpt-session-title {
  display: block;
  line-height: 1.125;
  margin-bottom: 1rem; }

.wcpt-schedule .wcpt-session-speakers {
  font-size: .75rem;
  line-height: 1.125; }

.wcpt-schedule .wcpt-session-speakers a {
  color: #83bcb3; }

.wcpt-schedule a {
  color: #1aaacd; }

.wcpt-schedule a:hover {
  color: #e97067; }

.sponsor-level-title {
  border-bottom: 5px solid #83bcb3;
  border-top: 5px solid #83bcb3;
  color: #0e5a6a;
  padding: .5rem; }

.sponsor {
  border-bottom: 1px solid #e3d6ca; }

.sponsor .sharedaddy {
  display: none; }

.sponsor .sponsor-title img {
  max-width: 60%; }

.sponsor .sponsor-description > p:first-of-type {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem; }

.site-title {
  width: 271px;
  height: 125px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto; }

@media print, screen and (min-width: 768px) {
  .site-title {
    width: 452px;
    height: 208px; } }
@media screen and (min-width: 1024px) {
  .site-title {
    width: 543px;
    height: 250px; } }
.site-description {
  display: none; }

.menu-primary-nav-container {
  max-width: 960px !important;
  margin: auto;
  display: block;
  width: 100%; }

.wcb_widget_sponsors .sponsor-level {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  border-top: 5px solid #fdc17b;
  -moz-box-shadow: 0 0 12px rgba(126, 99, 88, 0.05);
  -webkit-box-shadow: 0 0 12px rgba(126, 99, 88, 0.05);
  box-shadow: 0 0 12px rgba(126, 99, 88, 0.05);
  padding: 1rem;
  margin-bottom: 1rem; }

.wcb_widget_sponsors .sponsor-level-title {
  border-bottom: 0 none;
  border-top: 0 none;
  color: #0e5a6a;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center; }

.wcb_widget_sponsors .sponsor-logo {
  margin: 1rem 0 0; }

.wcb_widget_sponsors .sponsor-logo img {
  display: block; }

.tix_tickets_table + p,
.tix-ticket-form + p {
  margin-top: 1rem; }

.tix_tickets_table th,
.tix-ticket-form th {
  border-bottom: 5px solid #83bcb3;
  font-family: 'Crete Round', serif;
  font-size: 1.125rem;
  font-weight: normal;
  padding: .5rem; }

.tix_tickets_table td,
.tix-ticket-form td {
  border-bottom: 1px solid #d1bca9;
  line-height: 1.25;
  padding: 1rem .5rem; }

strong.tix-ticket-title {
  color: #0e5a6a;
  display: block;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  margin: 0; }

span.tix-ticket-excerpt {
  display: block;
  font-size: .75rem;
  line-height: 1.5; }

td.tix-column-price,
td.tix-column-quantity {
  background: #fff8f0;
  text-align: right; }

td.tix-column-remaining {
  text-align: center; }

.tix_tickets_table .tix-row-total td,
.tix-ticket-form .tix-row-total td {
  border-bottom: 0 none;
  text-align: right; }

.entry-content .tix_tickets_table label {
  display: inline;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0; }

.tix-error, .tix-notice, .tix-info {
  margin-bottom: 1rem; }

.site-title {
  height: 400px !important; }

.site-header {
  background-size: cover;
  border-top: none; }

article.post, article.page {
  background-color: #fff;
  /*background-image: url('https://2015.la.wordcamp.org/files/2015/05/divider-post.png'), url('https://2015.la.wordcamp.org/files/2015/05/divider-post-after.png');*/
  background-image: none !important; }

#main {
  /*background: url('https://2015.la.wordcamp.org/files/2015/05/logo-prefooter.png') 50% 100% no-repeat;*/
  background: none !important; }

.site-info .site-info-generator {
  /*background: url('https://2015.la.wordcamp.org/files/2015/05/logo-footer.png') 50% 0 no-repeat;*/
  background: none; }

#commentform {
  max-width: 600px; }

#commentform > p {
  margin-bottom: .566rem; }

#commentform label {
  display: block;
  margin-bottom: .566rem; }

#commentform textarea,
#commentform input {
  -webkit-appearance: none;
  border-radius: 0; }

#commentform input:not(#submit),
#commentform textarea {
  padding: .566rem .833rem;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid darkgray;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }

#commentform .form-submit {
  margin-top: 1.389em;
  text-align: right;
  width: 100%; }

#commentform #submit {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: none; }

body {
  font-family: "Poppins", sans-serif; }

.site-header hgroup {
  position: relative;
  z-index: 1;
  padding: 150px 0 50px; }

.site-title {
  background-image: url("https://2017.bucharest.wordcamp.org/files/2017/06/wcrobuc_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100%; }

.site-header {
  background: url("https://2017.bucharest.wordcamp.org/files/2017/06/header_cp.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }
  .site-header:after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0; }

.site-description {
  display: block;
  color: #fff;
  margin-top: 30px;
  font-size: 26px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bold; }

.main-navigation {
  z-index: 10;
  text-align: center;
  top: 0;
  bottom: inherit; }
  .main-navigation ul {
    text-align: center; }
    .main-navigation ul > li {
      -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
      transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
      float: none;
      font-family: "Poppins", sans-serif;
      margin-right: 35px; }
      .main-navigation ul > li:last-child {
        margin-right: 0; }
      .main-navigation ul > li.menu-item-has-children > a:after {
        content: "\f347";
        font-family: "Dashicons";
        top: 1px;
        left: 5px;
        position: relative;
        font-size: 12px; }
      .main-navigation ul > li a {
        color: #000;
        font-size: 18px;
        padding: 30px 0;
        text-transform: uppercase; }
        .main-navigation ul > li a:before {
          content: none; }
      .main-navigation ul > li:hover {
        box-shadow: 0 -3px #fd3a13 inset; }
        .main-navigation ul > li:hover li {
          -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
          transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1); }
    .main-navigation ul ul {
      text-align: left;
      padding: 0;
      top: 100%;
      background-color: #000000;
      box-shadow: none; }
      .main-navigation ul ul li {
        padding: 0; }
        .main-navigation ul ul li:hover {
          box-shadow: none; }
        .main-navigation ul ul li a {
          padding: 10px 20px;
          text-transform: none;
          color: #fff; }
      .main-navigation ul ul li a:hover {
        opacity: .67; }

.main-small-navigation {
  z-index: 10;
  top: 0; }
  .main-small-navigation .menu-toggle {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase; }
  .main-small-navigation ul {
    padding: 0 0 0 10px;
    border-left: 1px solid #dadada; }
  .main-small-navigation ul > li {
    font-weight: bold;
    text-transform: uppercase; }
    .main-small-navigation ul > li a {
      color: #000;
      padding: 10px 0;
      display: block; }

.site-info .site-info-network {
  z-index: 20; }

@media (max-width: 768px) {
  .site-description {
    font-size: 18px;
    margin: 0; }

  .site-title {
    height: 350px !important; } }
@media (max-width: 617px) {
  .site-header hgroup {
    padding: 30px 0; }

  .site-description {
    padding: 0 50px; } }
.site-info-network {
  display: none; }

body {
  background: url("https://2016.bucharest.wordcamp.org/files/2016/06/vampir_fundal.png") no-repeat right 300px #F0FCFF; }

#main-menu-wrapper {
  background-color: #1A6E94;
  border-bottom: 10px solid #035073; }
  #main-menu-wrapper #main-menu {
    text-align: center; }
  #main-menu-wrapper .menu {
    margin: 0 auto; }
    #main-menu-wrapper .menu li a {
      font-size: 16px;
      font-weight: bold; }
    #main-menu-wrapper .menu li.logo {
      position: absolute;
      top: -20px; }
      #main-menu-wrapper .menu li.logo:hover {
        background-color: transparent; }
      #main-menu-wrapper .menu li.logo a {
        background: url("https://2016.bucharest.wordcamp.org/files/2016/06/logo.png") no-repeat center center;
        height: 321px;
        text-indent: -9999999px;
        width: 268px; }
    #main-menu-wrapper .menu li.after-logo {
      margin-left: 268px; }
    #main-menu-wrapper .menu li.current-menu-item, #main-menu-wrapper .menu li:hover {
      background: url("https://2016.bucharest.wordcamp.org/files/2016/06/menu_arrow.png") no-repeat center 37px transparent;
      color: #ACDCF2; }
      #main-menu-wrapper .menu li.current-menu-item a, #main-menu-wrapper .menu li:hover a {
        color: #ACDCF2; }
    @media screen and (max-width: 1080px) {
      #main-menu-wrapper .menu li.logo a {
        background-size: 100%;
        height: 160px;
        width: 100px; }
      #main-menu-wrapper .menu li.after-logo {
        margin-left: 100px; } }
    @media screen and (max-width: 880px) {
      #main-menu-wrapper .menu li.logo {
        display: none; }
      #main-menu-wrapper .menu li.after-logo {
        margin-left: 0px; } }
    @media screen and (max-width: 780px) {
      #main-menu-wrapper .menu li a {
        font-size: 14px; } }
    #main-menu-wrapper .menu .sub-menu {
      z-index: 1000; }
      #main-menu-wrapper .menu .sub-menu li {
        border: 0px;
        text-align: left; }
        #main-menu-wrapper .menu .sub-menu li a {
          color: #fff; }

#header-container {
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  height: 100px; }
  @media screen and (min-width: 760px) {
    #header-container {
      height: 250px; } }
  @media screen and (min-width: 1080px) {
    #header-container {
      height: 350px; } }
  @media screen and (min-width: 1580px) {
    #header-container {
      height: 500px; } }
  #header-container #header {
    display: none; }

#before-content {
  margin-top: 40px; }
  #before-content .central-buttons {
    height: auto;
    padding-bottom: 20px; }
    #before-content .central-buttons #icon {
      display: block; }
    #before-content .central-buttons .fa {
      bottom: -20px;
      margin: 0px;
      position: relative;
      z-index: 100; }
      #before-content .central-buttons .fa:before {
        background-color: transparent;
        font-size: 60px; }
    #before-content .central-buttons #central {
      background-color: rgba(255, 255, 255, 0.7);
      margin: 0px;
      min-height: 280px;
      position: relative; }
    #before-content .central-buttons .widget-title {
      color: #1A6E94;
      font-size: 28px;
      padding-top: 40px; }
    #before-content .central-buttons .textwidget {
      font-size: 20px;
      font-style: italic;
      line-height: 22px;
      padding: 0 20px; }
    @media screen and (max-width: 768px) {
      #before-content .central-buttons {
        margin-bottom: 20px; } }
  #before-content #central-1 .fa:before {
    background-color: #002b7f; }
  #before-content #central-2 .fa:before {
    background-color: #fcd116; }
  #before-content #central-3 .fa:before {
    background-color: #ce1126; }

#content-row-wrapper {
  margin-top: 0px; }
  #content-row-wrapper .widget-area {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #content-row-wrapper #main {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.home #content .post {
  margin-top: 0px; }
.home #container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#before-buttons,
#before-content .xoxo,
.before-content .xoxo li,
.before-content .xoxo li .textwidget,
#before-content .central-buttons {
  border-spacing: 0;
  margin: 0;
  padding: 0; }

#before-content .central-buttons {
  display: block;
  float: left;
  padding: 0 10px; }

#before-buttons {
  margin: 0 -10px; }

body.blog #content-row-wrapper .sidebar-cell.grid_9 {
  float: none;
  padding-right: 10px;
  width: 100%; }
  @media screen and (min-width: 768px) {
    body.blog #content-row-wrapper .sidebar-cell.grid_9 {
      float: left;
      width: 66.66%; } }

body.blog #content-row-wrapper .sidebar-cell.grid_3 {
  background-color: transparent;
  float: none;
  padding: 0 0 0 10px;
  width: 100%; }
  body.blog #content-row-wrapper .sidebar-cell.grid_3 .xoxo {
    background-color: #fff; }
  @media screen and (min-width: 768px) {
    body.blog #content-row-wrapper .sidebar-cell.grid_3 {
      float: left;
      width: 33.33%; } }

body.blog #content-row-wrapper .sidebar-row #container {
  float: none;
  margin-right: 0;
  max-width: 100%;
  width: 100%; }

.wcorg-mailchimp {
  text-align: center; }
  .wcorg-mailchimp input[type="text"] {
    width: 90%; }
  .wcorg-mailchimp input[type="submit"] {
    display: inline-block !important; }

.entry-meta .meta-sep,
.entry-meta .author {
  display: none; }

#entry-author-info {
  display: none; }

.single-wcb_speaker .speaker-avatar {
  display: none; }

.tix_tickets_table {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%; }

.page-slug-tickets input[type="submit"] {
  float: left !important; }
